/* Satellite */

#satellite {
    height: 540px;
    position: relative;
    top: -5px;
}

#satellite > .s,
#satellite > #planet {
    -webkit-animation: none;
    animation: none;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 102%;
}

#satellite > .s#s1 {
    z-index: 5;
    padding-right: 50px;
    left: 0;
    position: absolute;
    top: 0;
    background-image: url(../img/top-clouds.svg);
}

#satellite > .s#s1.on {
    transform: translateZ(0);
    -webkit-animation: bouncing 5s linear infinite;
    animation: bouncing 5s linear infinite;
}

#satellite > .s#s2 {
    z-index: 4;
    padding-right: 50px;
    left: 0px;
    position: absolute;
    top: 50px;
    background-image: url(../img/middle-clouds.svg);
}

#satellite > .s#s2.on {
    transform: translateZ(0);
    -webkit-animation: bouncing 6s linear infinite;
    animation: bouncing 6s linear infinite;
}

#satellite > .s#s3 {
    z-index: 1;
    padding-right: 50px;
    left: 0px;
    position: absolute;
    top: 70px;
    background-image: url(../img/bottom-clouds.svg);
}

#satellite > .s#s3.on {
    transform: translateZ(0);
    -webkit-animation: bouncing 8s linear infinite;
    animation: bouncing 8s linear infinite;
}

#satellite > #planet {
    z-index: 2;
    width: 668px;
    height: 666px;
    background-size: 100%;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -334px;
    background-image: url(../img/planet.png);
}

#satellite > #planet.on {
    transform: translateZ(0);
    -webkit-animation: turning 120s linear infinite;
    animation: turning 120s linear infinite;
}

#satellite > #orbit {
    z-index: 2;
    width: 780px;
    height: 780px;
    background-size: 100%;
    position: absolute;
    top: -250px;
    left: 50%;
    margin-left: -390px;
    background-image: url(../img/orbit.png);
    background-repeat: no-repeat;
}

#satellite > #sat {
    z-index: 2;
    width: 850px;
    height: 850px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: -293px;
    left: 50%;
    margin-left: -425px;
    background-image: url(../img/satellite.png);
}

#satellite.inversed {
    top: 0;
    padding-top: 114px;
}

#satellite.inversed > .s,
#satellite.inversed > #planet {
    background-position: bottom center;
}

#satellite.inversed > #planet {
    top: initial;
    bottom: -410px;
}

#satellite.inversed > #orbit {
    top: initial;
    bottom: -460px;
}

#satellite.inversed > .s#s1 {
    top: initial;
    bottom: -10px;
    background-image: url(../img/top-clouds-inversed.png);
}

#satellite.inversed > .s#s2 {
    top: initial;
    position: absolute;
    bottom: 50px;
    background-image: url(../img/middle-clouds-inversed.png);
}

#satellite.inversed > .s#s3 {
    top: initial;
    position: absolute;
    bottom: 70px;
    background-image: url(../img/bottom-clouds-inversed.png);
}

#satellite.inversed > #sat {
    background-position: top;
    position: absolute;
    bottom: -498px;
    top: initial;
}

@keyframes bouncing {
    from {
        transform: rotate(0deg) translate(-5px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-5px) rotate(-360deg);
    }
}

@-webkit-keyframes bouncing {
    from {
        transform: rotate(0deg) translate(-5px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-5px) rotate(-360deg);
    }
}

@keyframes turning {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes turning {
    from {
        -webkit-transform: rotate(360deg)
    }
    to {
        -webkit-transform: rotate(0deg)
    }
}



@media screen and (max-width: 960px) {

    #satellite {
        height: 200px;
        top: -20px;
    }
    
    #satellite #sat,
    #satellite #orbit,
    #satellite #planet {
        display: none;
    }
    
    #satellite > .s,
    #satellite > #planet {
        background-size: auto;
    }

}  

@media screen and (max-width: 600px) {

    #satellite {
        height: 100px;
    }

}  
